html
  head
    title Chat
    meta(name='viewport', content='width=device-width, user-scalable=no')
    link(rel='stylesheet', href='style.css')
    script(src='//www.parsecdn.com/js/parse-1.2.18.min.js')
    script(src='http://code.jquery.com/jquery-1.7.1.min.js')
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript', src='https://mandrillapp.com/api/docs/js/mandrill.js')
    script(src='script.js')
  body
    .container
      header
        h1 Student Cloud
        h3 with Node.js and Socket.io
      input#pseudoInput(type='text', placeholder='Username')
      br
      input#pass(type='password', placeholder='Password')
      br
      button#pseudoSet Login
      button#signUp Sign Up
      input#newUserName(type='text', placeholder='Username')
      br
      input#newPass(type='password', placeholder='Password')
      br
      input#newEmail(type='email', placeholder='Email')
      br
      button#sign Next
      #setUp
        h2 First Time Set Up
        h4 What A-Levels do you do?
        nav#subjects001
          li
            //
              AUTOMATIC SERVICE
            select#year
              option(value='as') AS
              option(value='a2') A2
            select#subject
              option(value='none') Nothing
              option(value='Physics') Physics
              option(value='Maths') Maths
              option(value='Further_Maths') Further Maths
              option(value='Chemistry') Chemistry
              option(value='Economics') Economics
              option(value='Psychology') Psychology
              option(value='Sociology') Sociology
              option(value='Biology') Biology
              option(value='Law') Law
              option(value='Computing') Computing
              option(value='French') French
            select#examBoard
              option(value='Edexcel') Edexcel
              option(value='AQA') AQA
              option(value='MEI') MEI
              option(value='OCR') OCR
            button#add89  + 
        p What sixth form/college do you attend?
        //
          Search box of sixthforms in the country would be ideal
        input#college(type='text')
        br
        button#submitInfo Done
      #hallroom
      #chatEntries
      #chatControls
        input#messageInput(type='text')
        button#submit Send
        #nbUsersDiv
        p
          | There is
          span#nb  0 
          span(style='color: #4bff2c;')  connected 
          | user(s).
